@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);

  color: rgba(25, 25, 25, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.melody-header.is-open .melody-header-background {
  left: 0;
}
.melody-header-button-wrapper {
  margin-left: auto;
}
.melody-header-icon {
  display: none;
}

.melody-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.melody-navigation-list.is-open {
  right: 0;
}
.melody-header-icon-menu {
  display: block;
}

.melody-header-icon-button.is-open .melody-header-icon-menu {
  display: none;
}

.melody-header-icon-button.is-open .melody-header-icon-close {
  display: block;
}

.melody-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(8, 50, 105, 1);
}

.melody-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(8, 50, 105, 1);
}
.melody-header.is-open .melody-header-background {
  left: 0;
}
.melody-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.melody-header-icon-menu {
  display: block;
}

.melody-header-icon-button.is-open .melody-header-icon-menu {
  display: none;
}

.melody-header-icon-button.is-open .melody-header-icon-close {
  display: block;
}

.melody-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 20px;
  position: relative;
}

.melody-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 40px 40px;
  gap: 4px;
  background: linear-gradient(180deg, #083269 29%, #191919 100%);
}

.melody-navigation-list.is-open {
  right: 0;
}

.melody-navigation-link {
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(253, 253, 253, 1);
  width: 180px;
  display: block;
  text-align: center;
  border-radius: 16px;

  padding: 10px 0;
  border: 2px solid transparent;
}

.melody-navigation-link:hover,
.melody-navigatioт-link:focus {
  border: 2px solid rgba(254, 205, 66, 1);
  text-decoration: none;
}
.melody-navigation-item-desk {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.melody-header.is-open {
  background-color: transparent;
}

.melody-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .melody-navigation-img {
    display: flex;
  }
  .melody-policy-terms-header-icon-menu {
    display: none;
  }

  .melody-header {
    width: 100%;
    height: 56px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .melody-header-background {
  }
  .melody-header-icon-button {
    display: none;
  }
  .melody-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .melody-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .melody-navigation-link {
    width: 150px;
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;

    text-decoration: none;
  }

  .melody-navigation-link:hover,
  .melody-navigation-link:focus {
    color: #ffffff;
  }

  .melody-navigation-item-desk {
    display: none;
  }
}
.melody-home {
  width: 375px;
  height: 812px;
  padding: 64px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.melody-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melody-home-title {
  width: 343px;
  height: 160px;
}

.melody-home-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 35px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 2px rgba(38, 87, 152, 1);
  padding: 0 0 388px;
}

.melody-home-google-button-image {
  width: 284px;
  height: 76px;
}

.melody-home-google-button-link:hover .melody-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .melody-home {
    width: 1440px;
    height: 900px;
    padding: 146px 284px 0 732px;
    background-image: url("/img/home/1_home.png");
  }

  .melody-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .melody-home-title {
    width: 424px;
    height: 198px;
  }

  .melody-home-text {
    font-family: Lexend;
    font-weight: 700;
    font-size: 44px;
    padding: 120px 0;
  }
}
.melody-why {
  width: 375px;
  margin: auto;
  padding: 40px 24px 0;
}

.melody-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.melody-why-item {
  border-radius: 16px;
  padding: 16px;
  background: rgba(226, 195, 195, 1);
}
.melody-why-item-q {
  background: rgba(185, 223, 167, 1);
}
.melody-why-item-w {
  background: rgba(168, 169, 227, 1);
}
.melody-why-item-e {
  background: rgba(242, 235, 178, 1);
}
.melody-why-item-r {
  background: rgba(169, 209, 243, 1);
}
.melody-why-item-t {
  background: rgba(178, 243, 231, 1);
}
.melody-why-item-y {
  background: rgba(167, 194, 234, 1);
}
.melody-why-item-u {
  background: rgba(227, 203, 170, 1);
}
.melody-why-item-i {
  background: rgba(232, 182, 221, 1);
}
.melody-why-item-o {
  background: rgba(211, 195, 175, 1);
}
.melody-why-text-bold {
  font-family: Lexend;
  font-weight: 500;
  font-size: 24px;

  letter-spacing: -1px;
}

.melody-why-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  padding-top: 16px;
  letter-spacing: -1px;
}

@media screen and (min-width: 1200px) {
  .melody-why {
    width: 1440px;
    padding: 60px 80px;
  }
  .melody-why-list {
    padding: 40px 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .melody-why-item {
    width: 540px;
    height: 98px;
    border-radius: 16px;
    padding: 16px;
  }

  .melody-why-text-bold {
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
  }

  .melody-why-text {
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
  }
}

.melody-about {
  padding: 40px 0px 0px;
  margin: auto;
  width: 375px;
  height: 1178px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_GameDescription_mob.png");
}

.melody-about-title {
  font-family: Lexend;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: rgba(8, 50, 105, 1);
}

.melody-about-text {
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 360px 32px 0;
}

.melody-about-text-bold {
  font-family: Lexend;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
  text-align: center;
  padding: 48px 32px 0;
}
.melody-about-text-bold-two {
  padding-top: 24px;
}
@media screen and (min-width: 1200px) {
  .melody-about {
    padding: 60px 511px 0 80px;
    width: 1440px;
    height: 666px;
    background-image: url("/img/2_GameDescription.png");
  }
  .melody-about-title {
    font-family: Lexend;
    font-weight: 700;
    font-size: 46px;
    text-align: left;
  }

  .melody-about-text {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    padding: 48px 32px;
  }

  .melody-about-text-bold {
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    padding: 111px 0 0 32px;
  }
  .melody-about-text-bold-two {
    padding-top: 0px;
  }
}
.melody-how {
  width: 375px;
  height: 1124px;
  margin: auto;
  padding: 40px 13px 0 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_howToPlay_mob.png");
}

.melody-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.melody-how-item {
  width: 343px;
  height: 120px;
  gap: 8px;
  align-items: center;
  display: flex;
  border-radius: 16px;
  padding: 8px;
}

.melody-how-number {
  background: rgba(253, 253, 253, 1);
  width: 58px;
  height: 58px;
  border-radius: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lexend;
  font-weight: 800;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(8, 50, 105, 1);
}

.melody-how-text-bold {
  font-family: Lexend;
  font-weight: 700;
  font-size: 20px;

  letter-spacing: -1px;
}

.melody-how-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  padding-top: 16px;
  letter-spacing: -1px;
}

@media screen and (min-width: 1200px) {
  .melody-how {
    width: 1440px;
    height: 688px;
    padding: 60px 80px;
    background-image: url("/img/6_howToPlay.png");
  }
  .melody-how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .melody-how-item {
    width: 1280px;
    height: 94px;
    border-radius: 16px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    gap: 16px;
  }

  .melody-how-number {
    width: 78px;
    height: 78px;
    border-radius: 100px;
    padding: 0px;
    font-family: Lexend;
    font-weight: 800;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;
  }

  .melody-how-text-bold {
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
  }

  .melody-how-text {
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -4%;
  }
}

.melody-reviews {
  width: 375px;
  height: 1127px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/5_userReviews_mob.png");
}

.melody-reviews-list {
  padding-top: 403px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.melody-reviews-item {
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: rgba(8, 50, 105, 1);
}

.melody-reviews-item-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.melody-reviews-text-bold {
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;
  color: rgba(253, 253, 253, 1);
}

.melody-reviews-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  color: rgba(253, 253, 253, 1);
  padding-top: 5px;
}

@media screen and (min-width: 1200px) {
  .melody-reviews {
    width: 1440px;
    height: 693px;
    padding: 60px 80px 0;
    background-image: url("/img/reviews/5_userReviews.png");
  }
  .melody-reviews-list {
    padding-top: 40px;
    padding-left: 572px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .melody-reviews-item {
    width: fit-content;
  }

  .melody-reviews-item-top {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .melody-reviews-text-bold {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;
  }

  .melody-reviews-text {
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;

    letter-spacing: -1px;

    padding-top: 5px;
  }
}

.melody-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: rgba(218, 223, 240, 1);
}

.melody-faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.melody-faq-item {
  border-radius: 15px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background: rgba(253, 253, 253, 1);
}

.melody-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
}

.melody-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.melody-faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1px;
}

@media screen and (min-width: 1200px) {
  .melody-faq {
    padding: 60px 80px;
    width: 1440px;
  }
  .melody-faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1120px;
    margin: auto;
  }

  .melody-faq-item {
    border-radius: 15px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: rgba(253, 253, 253, 1);
  }

  .melody-faq-question {
    font-family: Lexend;
    font-weight: 700;
    font-size: 24px;
  }

  .melody-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .melody-faq-answer {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;
  }
}

.melody-features {
  width: 375px;
  height: 1858px;
  margin: auto;
  background-image: url("/img/4_mainFeatures_mob.png");
  padding: 40px 16px 0;
}

.melody-features-list {
  padding-top: 356px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.melody-features-item {
  width: 343px;
  height: 180px;
  border-radius: 16px;
  padding: 14px;
  background: rgba(253, 253, 253, 1);

  border: 2px solid rgba(8, 50, 105, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.melody-features-item-two {
  display: flex;
  align-items: center;
  gap: 8px;
}
.melody-features-img {
  width: 60px;
  height: 60px;
}

.melody-features-text-bold {
  font-family: Lexend;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
}

.melody-features-text {
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: -1px;
}

@media screen and (min-width: 1200px) {
  .melody-features {
    width: 1440px;
    height: 946px;
    background-image: url("/img/4_mainFeatures.png");
    padding: 60px 80px 0;
  }
  .melody-features-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 748px;
  }

  .melody-features-item {
    width: 400px;
    height: 200px;
    border-radius: 16px;

    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .melody-features-item-three {
    margin-bottom: 400px;
  }
  .melody-features-item-two {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 8px;
  }
  .melody-features-img {
    width: 100px;
    height: 100px;
    margin-bottom: -70px;
  }

  .melody-features-text-bold {
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
  }

  .melody-features-text {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;
    width: 268px;
    padding-top: 16px;
  }
}

.melody-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
}

.melody-policy-terms-title {
  font-family: Lexend;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: rgba(8, 50, 105, 1);
}

.melody-policy-terms-text {
  padding-top: 20px;
  font-family: Lexend;
  font-weight: 700;
  font-size: 32px;

  color: rgba(8, 50, 105, 1);
}

.melody-policy-terms-texts {
  padding-top: 8px;
}

.melody-policy-terms-text-one {
  padding-top: 20px;
}

.melody-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.melody-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.melody-email-link {
  color: inherit;
  text-decoration: none;
}

.melody-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .melody-policy-terms-container {
    padding: 100px 172px 60px;
    width: 1440px;
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
  }

  .melody-policy-terms-title {
    font-family: Lexend;
    font-weight: 700;
    font-size: 46px;
  }

  .melody-policy-terms-text {
    padding-top: 40px;
    font-family: Lexend;
    font-weight: 700;
    font-size: 32px;
  }

  .melody-policy-terms-text-one {
    padding-top: 30px;
  }

  .melody-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.melody-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(8, 50, 105, 1);

  padding: 40px 0px;
}

.melody-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.melody-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.melody-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;

  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.melody-footer-copyright {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .melody-footer {
    width: 1440px;
    padding: 60px 0px;
  }

  .melody-footer-container {
    gap: 40px;
  }

  .melody-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .melody-footer-text {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .melody-footer-copyright {
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
  }
}

.melody-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(8, 50, 105, 1);

  z-index: 1000;
  display: none;
}

.melody-cookie-popup-text-two {
  font-family: Lexend;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  color: rgba(240, 245, 254, 1);
}

.melody-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.melody-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(254, 205, 66, 1);
  width: 166px;
  padding: 10px 0;
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  color: rgba(253, 253, 253, 1);
  text-transform: uppercase;
  text-align: center;
}

#accept-cookies {
  background: rgba(254, 205, 66, 1);
  box-shadow: 0px 4px 4px 0px rgba(25, 25, 25, 0.3);
  color: rgba(25, 25, 25, 1);
  border-radius: 16px;
}

.melody-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .melody-cookie-popup-text-two {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
  }

  .melody-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .melody-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
